# TypeScript compiled files
/dist

# Node modules
/node_modules

# .env
.env

# /scripts/test.ts
/scripts/test.ts

# /scripts/hqtcsdl/index.ts
/scripts/hqtcsdl/index.ts

# /assets/itemImages
/assets/itemImages

# /assets/avatar
/assets/avatar